@font-face {
    font-family: poppins-medium;
    src: url(Poppins-Medium.ttf);
}

* {
	margin: 0;
	padding: 0;
    font-family: poppins-medium;
}

:root {
	--hue: 223;
	--bg: hsl(var(--hue),90%,95%);
	--fg: hsl(var(--hue),90%,5%);
	--trans-dur: 0.3s;
	 /* font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));  */
}
.body {
    background: linear-gradient(135deg, #153677, #4e085f);
	color: var(--fg);
	font: 1em/1.5 sans-serif;
	height: 100vh;
	display: flex;
    justify-content: center;
	align-items: center;
	transition: background-color var(--trans-dur);
}
main {
	padding: 1.5em 0;
}
.ip {
	width: 16em;
	height: 8em;
}
.ip__track {
	stroke: hsl(var(--hue),90%,90%);
	transition: stroke var(--trans-dur);
}
.ip__worm1,
.ip__worm2 {
	animation: worm1 2s linear infinite;
}
.ip__worm2 {
	animation-name: worm2;
} 

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,5%);
		--fg: hsl(var(--hue),90%,95%);
	}
	.ip__track {
		stroke: hsl(var(--hue),90%,15%);
	}
}

/* Animation */
@keyframes worm1 {
	from {
		stroke-dashoffset: 0;
	}
	50% {
		animation-timing-function: steps(1);
		stroke-dashoffset: -358;
	}
	50.01% {
		animation-timing-function: linear;
		stroke-dashoffset: 358;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes worm2 {
	from {
		stroke-dashoffset: 358;
	}
	50% {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -358;
	}
} 

#container {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #153677, #4e085f);
    display: none;
    justify-content: center;
    align-items: center;
}

.todo-div {
    background-color: white;
    padding: 32px 25px 67px;
    max-width: 459px;
    width: 100%;
    border-radius: 11px;
    margin: 0 auto;
    border: 4px solid black;
    box-shadow: 3px 3px 10px black;
}

.todo-div h2 {
    color: #002765;
    display: flex;
    align-items: center;
}

.note-book-img {
    height: 39px;
    width: 39px;
    margin-left: 10px;
}

.rows {
    width: 99%;
    margin-top: 15px;

}

.rows input {
    border-radius: 30px;
    height: 49px;
    width: 343px;
    padding-left: 12px;
    outline: none;
    border: none;
    background-color: rgb(211, 210, 210);
}

.rows button {
    border-radius: 30px;
    height: 49px;
    width: 95px;
    outline: none;
    border: none;
    background-color: rgb(248, 85, 26);
    color: white;
    cursor: pointer;
    font-size: 17px;
}

.div {
    width: 417px;
    background-color: rgb(167, 167, 167);
    margin: 10px;
    border-radius: 10px;
    padding: 3px 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p {
    width: 93%;
    overflow-wrap: break-word;
}

.delBtn {
    text-align: right;
    font-size: 25px;
    cursor: pointer;
    height: 29px;
    width: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delBtn:hover {
    background-color: rgb(208, 206, 206);
}

.container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#sign-up {
    background-color: black;
    color: white;
    height: 529px;
    width: 479px;
    border-radius: 12px;
    display: block;
}

#sign-in {
    background-color: black;
    color: white;
    height: 459px;
    width: 479px;
    border-radius: 12px;
    display: none;
}

.Sign-up-heading {
    text-align: center;
}

.Sign-in-heading {
    text-align: center;
}

label {
    margin: 0 49px;
}

.input {
    margin: 0 49px;
    width: 359px;
    height: 29px;
    border-radius: 12px;
    padding: 1px 9px;
    box-shadow: none;
    box-shadow: 5px 5px 12px black;
    border: none;
}

#sign-up-btn {
    margin: 0 39px;
    width: 399px;
    height: 29px;
    border-radius: 12px;
    outline: none;
    border: none;
    cursor: pointer;
}

.txt {
    text-align: center;
}

#sign-in-txt {
    color: blue;
    cursor: pointer;
}

#sign-in-txt:hover {
    color: rgb(106, 101, 249);
}

#sign-in-btn {
    margin: 0 39px;
    width: 399px;
    height: 29px;
    border-radius: 12px;
    outline: none;
    border: none;
    cursor: pointer;
}

#sign-up-txt {
    color: blue;
    cursor: pointer;
}

#sign-up-txt:hover {
    color: rgb(106, 101, 249);
}

#logoutBtn {
    height: 33px;
    width: 79px;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    background-color: red;
    color: white;
    position: fixed;
    top: 15px;
    right: 10px;
}

#userNametodolist {
    margin-left: 7px;
}
